/* CSS Document */
*, *::after, *::before {
  margin: 0;
  box-sizing:border-box;  
}
/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * museo-sans:
 *   - http://typekit.com/eulas/00000000000000000000e7fe
 *   - http://typekit.com/eulas/00000000000000000000e802
 *   - http://typekit.com/eulas/00000000000000000000e805
 *   - http://typekit.com/eulas/00000000000000000000e806
 *
 * © 2009-2021 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2021-11-25 13:36:20 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=sug4rsk&ht=tk&f=2005.2006.2009.2010&a=20046581&app=typekit&e=css");

@font-face {
font-family:"museo-sans";
src:url("https://use.typekit.net/af/620bf8/00000000000000000000e7fe/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/620bf8/00000000000000000000e7fe/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/620bf8/00000000000000000000e7fe/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;
}

@font-face {
font-family:"museo-sans";
src:url("https://use.typekit.net/af/5cca6d/00000000000000000000e802/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff2"),url("https://use.typekit.net/af/5cca6d/00000000000000000000e802/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff"),url("https://use.typekit.net/af/5cca6d/00000000000000000000e802/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:300;
}

@font-face {
font-family:"museo-sans";
src:url("https://use.typekit.net/af/e3ca36/00000000000000000000e805/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/e3ca36/00000000000000000000e805/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/e3ca36/00000000000000000000e805/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"museo-sans";
src:url("https://use.typekit.net/af/2841b6/00000000000000000000e806/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/2841b6/00000000000000000000e806/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/2841b6/00000000000000000000e806/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;
}

.tk-museo-sans { font-family: "museo-sans",sans-serif; }

:root {
  --main-color:#fff;
  --background-color:#f3c0bc;
  --background-color-transparent: rgb(243,192,188, 0.8);
  --background-highlight-color:#284534;
  
  --p-color:#000;
  --tekst-background-color:#272425;
  
  --button-color:#000;
  --button-background-color:gold;
  
  --h2-color:#f3c0bc;
  --h3-color:#fff;
  --h3-color-melding: gold;
  --accent-background-color:#777;
  
  --white-space:5vw;
}

/* Alegemene styling */
main{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h2{
  width: 100%;
  margin: 0.4em auto;
  color: var(--h2-color);
  font-family: museo-sans;
  font-weight: 700;
  font-size: 1.2em;
  letter-spacing: .5em;
  text-transform: uppercase;
  padding: .5em;
  background-color: var(--tekst-background-color);
}

h3{
  width: 100%;
  margin: 0 auto;
  color:var(--main-color);
  font-family: museo-sans;
  font-weight: 100;
  font-size: 1em;
  letter-spacing: .6em;
  text-transform: uppercase;
  padding: .5em;
  background-color: var(--tekst-background-color);
}

h4{
  width: 100%;
  margin: 0 auto;
  color:var(--main-color);
  font-family: museo-sans;
  font-weight: 100;
  font-size: 0.8em;
  letter-spacing: .6em;
  text-transform: uppercase;
  padding: .5em;
  background-color: var(--tekst-background-color);
}

article{
  width: 100%;
}

section{
  position: relative;
  padding: 1.5em;
}

section p{
  font-family: museo-sans;
  font-weight: 300;
  font-size: 1em;
  color: var(--p-color);
  margin: 0.25em;
}

article section{
  overflow: hidden;
}

article:first-of-type{
  background-image: url(../images/background-image-1.jpeg);
  background-size: cover;
}

article:nth-of-type(2){
  background-image: url(../images/background-image-2.jpeg);
  background-size: cover;
}

article:nth-of-type(4){
  background-image: url(../images/background-image-3.jpeg);
  background-size: cover;
  filter: grayscale(1);
}

article section h4{
  color: var(--main-color);
  letter-spacing: .2em;
  font-size: .8em;
  padding: .1em .5em .5em .5em;
}

article section section{
  width: 100%;
  padding: 0;
  margin: 0 0 .5em 0;
}

/*section img{
  width: auto;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/

section:first-of-type p:nth-of-type(4){
  margin-top: 0.7em;
}

section:first-of-type p:nth-of-type(5){
  font-style: italic;
  margin-bottom: 0.7em;
}

article:nth-of-type(3) section{
  background-color: var(--background-color);
}

.hovertekst{
  display: none;
}

.hovertekst p{
  color: black;
}
article section div{
  transition: .5s;
}

article:hover section .hovertekst,
article:focus section .hovertekst{
  display: flex;
  flex-direction: column;
}

article:hover section .normaaltekst h2{
  color: var(--background-highlight-color);
  font-family: museo-sans;
  font-weight: 700;
  font-size: 1.2em;
  letter-spacing: .5em;
  text-transform: uppercase;
  padding: 3em .2em .2em .2em;
  background-color: inherit;
}

article:hover .hovertekst p:last-of-type,
article:focus .hovertekst p:last-of-type{
  padding-bottom: 3em;
}
article:hover section .normaaltekst h3,
article:hover section .normaaltekst h3,
article:hover section .normaaltekst h4,
article:hover section .normaaltekst h4 {
  color: var(--background-highlight-color);
  font-family: museo-sans;
  font-weight: 100;
  font-size: 1em;
  margin-top: 0;
  letter-spacing: .6em;
  text-transform: uppercase;
  padding: .2em;
  background-color: inherit;
}


article:hover section .container,
article:focus section .container{
  background: var(--background-color-transparent);
  padding: .3em;
}

article:hover .bordergrootte,
article:focus .bordergrootte{
  padding: 4em 0em 4em 0em;
}

.geel{
  background-color:var(--h3-color-melding);
  color: var(--p-color);
  margin-top: 1em;
  font-size: 1em;
}

@media (min-width:45em){
  main{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  article{
    height: 50vh;
    width: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  article:nth-of-type(3){
    background-color:var(--background-color);
  }
}

@media (min-width: 62.5em){
  main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  article{
    height: 100vh;
    width: auto;
  }
}